@import '_variables';

header {
  background-color: $main-color;
  color: white;

  .header_container {
    padding: 10px 0;
    width: 90%;
    margin: auto;

    .header_left {
      float: left;

      .title {
        width: 200px;
        font-size: 40px;
      }
    }

    .header_right {
      float: right;
    }
  }
}

.new_post_link {
  background-color: $sub-color;
  border-radius: 5px;
  margin-right: 100px;
  margin-top: 25px;
  height: 40px;
  width: 150px;
  float: left;

  a {
    line-height: 40px;
    text-align: center;
    color: white;
    display: block;
    font-size: 15px;
    margin: 5px 20px;
    margin-top: -1px;
  }
}

.new_post_link_response {
  display: none;
}

.header_user_icon img {
  width: 55px;
  height: 55px;
  border-radius: 99px;
  float: right;
  margin-top: -48px;
  padding: 3px;
  background-color: white;
}

@media only screen and (max-width:767px) {
  
  .title {
    width: 130px!important;
    font-size: 25px;
  }

  .new_post_link {
    display: none;
  }

  .header_user_icon {
    float: right;

    img {
      margin-top: 5px;
      width: 80px;
      height: 25px;
    }
  }

  .new_post_link_response {
    display: block;
    background-color: $sub-color;
    border-radius: 5px;
    height: 30px;
    width: 30px;
    float: left;
    margin-right: 15px;
    margin-top: 10px;

    a {
      line-height: 30px;
      text-align: center;
      color: white;
      display: block;
      font-size: 10px;
      letter-spacing: 1px;
    }
  }
  
}