.pagination {
  justify-content: center;
}

.pagination>li>a {
  border: none;
  color: #696969;
}

.pagination>.active>a {
  border-radius: 5px;
  background: #93c9ff;
}

.pagination>li>a:hover {
  border-radius: 5px;
}

@media only screen and (max-width:767px) {
  
}