.wrapper {
  width: 100%;

  .main {
    height: 300px;

    &__lists {
      position: relative;

      &__image {
        position: absolute;
      }
    }
  }

  .thumbs {
    height: 120px;

    &__lists {
      width: 100%;
      margin: 0 auto;
      display: flex;
      justify-content: flex-start;

      &__item {

        &__image {
          height: 100%;
          max-width: 100%;
          opacity: 0.5;
          border-radius: 2px;
          margin-right: 10px;
        }
      }
    }
  }
}

.show_image_main {
  border-radius: 5px;
  margin-top: 5px;
  background-color: white;
  max-width: 95%;
}

.image_size_1 {
  margin-bottom: 15px;
}

@media only screen and (max-width:767px) {
  
  .main {
    height: 220px!important;

    img {
      min-width: 100%!important;
    }
  }

  .thumbs {
    img {
      max-width: 80px!important;
    }
  }
}